@use "settings";

footer {
  display: flex;
  width: 100%;
  align-self: flex-end;
  background: settings.$overlay-white;
  border-top: 1px solid settings.$border-white;
  font-size: settings.$font-size-xsmall;
  padding: settings.$xxs-size;

  ul {
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    padding: 0;
    margin: 0;
  }
  
}