@use "settings";

label, .apptr__form__label-standalone {
  padding: settings.$xxxxs-size settings.$xs-size;
  font-size: settings.$font-size-small;
  font-weight: 500;
  //width: 100%;
  color: settings.$label;

  &._flex {
    display: flex;
  }

}

input, ._input {
  background: settings.$input-background;
  font-size: settings.$font-size-small;
  border: 1px solid settings.$border-white;
  color: settings.$input;
  font-weight: 700;
  padding: settings.$xxxxs-size settings.$xs-size;
  width: 100%;
  border-radius: 1.2rem;

  &._blank {
    background: none;
    border: none;
  }

}

input:disabled, textarea:disabled {
  font-style: oblique;
  color: settings.$input-disabled;
  border-style: dashed;
}

select:disabled {
  font-style: oblique;
  color: settings.$input-disabled;
  opacity: 0.5;
}

input:focus, textarea:focus {
  border-radius: 1.2rem;
  outline: none;
  border-color: settings.$blue;
  box-shadow: 0 0 0.5rem settings.$blue;
}

textarea, ._input-textarea {
  width: 100%;
  font-weight: 700;
  color: settings.$input;
  padding: settings.$xs-size settings.$xs-size;
  font-size: settings.$font-size-small;
  resize: vertical;
  border-radius: 1.2rem;
  min-height: 2rem;

  &._black {
    background: settings.$input-background;
    border: 1px solid settings.$border-white;
  }
}

select {
  font-size: settings.$font-size-small;
  background-color: settings.$input-background;
  color: settings.$input;
  font-weight: 700;
  text-overflow: ellipsis;
  border: 1px solid settings.$border-white;
  padding-top: settings.$xxxxs-size;
  padding-bottom: settings.$xxxxs-size;
  padding-left: settings.$xs-size;
  border-radius: 1.2rem;

  // Unfortunately we can't change the color of the chevron on the select input.
  // We must add our own.
  appearance: none;
  background-image: url("../../assets/select_chevron_white.svg");
  padding-right: 1.8rem; // Give a little more space for the chevron image
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

._input-multiselect {
  font-size: settings.$sm-size;
  background: settings.$input-background;
  color: settings.$input;
  font-weight: 700;
  /*.react-select__control {
    min-height: 2rem !important;
    background-color: $input-background;
  }*/
  /*.react-select__multi-value {
    background: rgba(0,0,0,1.0);
    color: $input !important;
  }*/
  /*.react-select__menu {
    background-color: $input-background;
  }*/
}

.react-select__single-value, .react-select__input {
    color: settings.$input !important;
}


.apptr__form-auth {
  max-width: 40rem;
  min-width: settings.$min-width;
  margin: 0 auto;
  text-align: center;
}

.apptr__form-container {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.tr__form__input-string {
  font-size: settings.$font-size-medium;
  background-color: rgba(0,0,0,1.0);
  color: rgba(255,255,255,0.6);
  font-weight: 700;
  border: 1px solid rgba(255,255,255,0.2);
  padding: settings.$xxxs-size;
  width: 100%;
}

.apptr__footer-link-container {
  text-align: center;
}

.tr__form__parent-errors-container {
  color: settings.$error;
  font-style: oblique;
}

.tr__form-section {
  padding:   settings.$xs-size;
  font-size: settings.$font-size-medium;

  &._flex-column {
    width: 10rem;
  }
}

._two-columns {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  ._flex-break {
    height: 0;
    flex-basis: 100%;
  }

  ._help {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0.3rem;
    margin-bottom: 2.5rem;
    width: 100%;
    justify-content: flex-start;
    text-align: right;
  }

}

.apptr__form-input-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: settings.$xxs-size;
  flex-wrap: wrap;

  &._two-columns {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    //max-width: 35rem;

    input, ._input, ._input-proxy {
      flex: 1;
      align-self: flex-start;
    }

    label, .apptr__form__label-standalone, ._label-proxy {
      flex: 1;
      padding: settings.$xxxxs-size settings.$xs-size;
      text-align: right;
    }

    &._small-inputs {
      input, ._input, ._input-proxy {
        flex: 1;
      }
  
      label, .apptr__form__label-standalone, ._label-proxy {
        flex: 2;
      }
    }
  }
}

.tr__form-input-radio-group-container, .tr__form-input-checkbox-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
  &.no-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  label, .apptr__form__label-standalone {
    width: 100% !important;
    text-align: left !important;
    margin: 0 0 0 0.5rem !important;
    font-weight: 700 !important;
    padding: 0 !important;
  }

  ._input-radio, ._input-checkbox {
    width: inherit !important;
    text-align: left;
    padding: 0 0.2rem;
    margin: 0;
    background: rgba(0,0,0,1.0);
  }

  .tr__form-input-radio-container, .tr__form-input-checkbox-container {
    display: flex;
    //padding: 0;
    align-items: center;
    align-content: stretch;
    justify-content: left;
    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 0.1rem 0.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 1.5rem;
    text-align: left;
    line-height: 1.05;

    &.checked {
      background: rgba(255,255,255,0.15);
      label, .apptr__form__label-standalone {
        color: settings.$input;
      }
    }
  }

}

.tr__form-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: settings.$xs-size 0;
  padding: 0 settings.$xs-size;
  
  &._left {
    justify-content: flex-start;
  }

  &._center {
    justify-content: center;
  }
}

.tr__form-sticky-header-container {
  display: flex;
  position: sticky;
  top: 0;
  background-color: rgba(29, 31, 33, 0.8);
  z-index: 1;
  border-bottom: 1px solid settings.$border-white;
  justify-content: space-between;

  h3 {
    letter-spacing: unset !important;
  }
}

.tr__form-selected-object-buttons-container .button {
    padding: 0.3rem 0.6rem;
    min-height: 2.6rem;
}

._input-color {
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  input {
    background-color: rgba(0,0,0,0.1);
  }
}


.apptr__form-input-container:last-child {
  margin-bottom: 0;
}

.apptr__form-errors-container {
  padding: settings.$xs-size;
  color: settings.$red;
  p {
    margin-bottom: 0.2rem;
  }
}

.apptr__form-warning-message {
  color: settings.$orange;
}

table._statistics {
  font-size: settings.$font-size-small;
  th._header {
    padding-top: 1rem;
    padding-left: 0;
    font-weight: 700;
  }
  th {
    padding-left: 1rem;
    text-align: right;
    font-weight: 300;
    max-width: 50%;
    margin-right: 0.5rem;
  }
  td {
    text-align: left;
    font-weight: 300;
    color: settings.$text-active-color;
  }
}

table._schedule {
  width: 100%;
  font-size: settings.$font-size-small;
  th {
    text-align: right;
    font-weight: 700;
    width: 50%;
  }
  td {
    text-align: right;
    font-weight: 300;
    color: settings.$text-active-color;
  }
}

.tr__form-filter-box {
  background-color: settings.$overlay-white;
  border-color: settings.$overlay-dark;
  padding: 1rem;

  ._link {
    color: settings.$link-default-color;
    text-align: left !important;
    margin: 0 0 0 0.5rem !important;
    font-weight: 700 !important;
    font-size: 1.6rem;
    padding: 0 !important;
  }
}

.tr__form-dayPicker {
  justify-content: center;
  margin: 5px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  .dayPickerOption {

    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox]:checked ~ label {
      background-color: #216ba5;
      color: #fff;
      font-weight: 500;
    }
    label {
      color: rgba(137, 200, 255, 0.85);
      cursor: pointer;
      padding: 3px;
    }
  }
}

.tr__form-limit-to-two-lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
