@use "settings";

header {
  width: 100%;
  background: light-dark(white, black); // Test light-dark()
  border-bottom: 1px solid settings.$border-white;

  .header__content {
    font-size: settings.$font-size-small;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: settings.$xxs-size;
    h1 {
      opacity: 0.6;
      margin: 0;
      font-size: settings.$font-size-small;
      font-weight: 300;
    }
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      margin: 0;
    }
    li {
      display: flex;
    }

  }

  .header__title {
    //color: $dark-blue;
    text-decoration: none;
  }

  .menu {
    background: settings.$overlay-dark;
    position: absolute;
    list-style-type: none;
    margin-top: 30px;
    padding: 20px;
    right: 0;
    border: 1px solid settings.$border-white;
    z-index: 1000;
  }

  .userMenu {
    display: flex;
    flex-direction: column;
  }
  
}