@use "settings";

.tr__left-menu-container {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  .tr__left-menu-element {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 20;
    button {
      color: settings.$text-active-color;
      font-weight: 700;
      font-size: settings.$font-size-medium;
      border: none;
      background: none;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      text-decoration: none;
      align-items: center;
      overflow: hidden;
      max-width: 4rem;
      width: 4rem;
      height: 4rem;
      padding: 0;
      margin: 0;
      text-align: left;

      .tr__left-menu-button-name {
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        height: 4rem;
        align-items: center;
      }

      .tr__left-menu-button-icon {
        display: flex;
        height: 4rem;
        padding: 0.4rem;
        width: 4rem;
      }

      ._icon {
        height: 100%;
      }

      &:hover {
        background: settings.$overlay-dark;
        max-width: inherit;
        width: inherit;
      }
      &.active {
        background: settings.$overlay-active;
      }
      &:focus {
        border: none;
        background: settings.$overlay-active;
        outline: none;
      }
    }

  }
}