@use "settings";

.apptr__separator-small {
  height: 0.5rem;
}

.apptr__separator-medium {
  height: 1rem;
}

.apptr__separator-large {
  height: 2rem;
}

.tr__main-map-context-menu {
  z-index:1000;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid settings.$border-white;
  font-size: settings.$font-size-small;
  padding: 0.5rem;
  display: none;
  margin: 0;
  list-style-type: none;
  list-style: none;

  ul {
    padding: 0.5rem;
    margin: 0;
  }

  li {
    margin-bottom: 0.2rem;
  }

  li:hover {
    background-color: rgba(0,0,0,1.0);
    color: rgba(255,255,255,1.0);
    font-weight: 700;
    cursor: pointer;
  }

}

/* Mathjax styles */
.mjx-math, ._latex {
  color: rgba(255, 245, 151, 0.9);
  font-size: 110%;
}

.tr__exception {
  white-space: pre-wrap;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(43, 24, 23);
  color: rgba(241, 112, 123, 1);
}