.hidden-map {
  overflow: hidden;
  height: 0;
  width: 0;
  position: fixed;
}

.mapboxgl-popup {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  display: -webkit-flex;
  display: flex;
  will-change: transform;
  pointer-events: none;
  color: rgba(255,255,255,0.75);
  width: 200px;
  text-align: center;
  line-height: 1.0;
}

.mapboxgl-popup .pale {
  color: rgba(255,255,255,0.5);
}


.mapboxgl-popup-anchor-top,
.mapboxgl-popup-anchor-top-left,
.mapboxgl-popup-anchor-top-right {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.mapboxgl-popup-anchor-bottom,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.mapboxgl-popup-anchor-left {
  -webkit-flex-direction: row;
  flex-direction: row;
}
.mapboxgl-popup-anchor-right {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.mapboxgl-popup-tip {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  /*box-shadow: 0 1px 3px rgba(255,255,255,0.2);*/
  z-index: 1;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-top: none;
  border-bottom-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  border-top: none;
  border-left: none;
  border-bottom-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  border-top: none;
  border-right: none;
  border-bottom-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-bottom: none;
  border-top-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  border-bottom: none;
  border-left: none;
  border-top-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-left: none;
  border-right-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-right: none;
  border-left-color: rgba(0,0,0,0.5);
}
.mapboxgl-popup-close-button {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  border: none;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}
.mapboxgl-popup-close-button:hover {
  background-color: rgba(0,0,0,0.05);
}
.mapboxgl-popup-content {
  position: relative;
  background: rgba(0,0,0,0.5);
  border-radius: 0;
  box-shadow: 0 0 5px rgba(255,255,255,0.2);
  padding: 2px 5px 3px 5px;
  pointer-events: auto;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-content {
  border-top-left-radius: 0;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-content {
  border-top-right-radius: 0;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-content {
  border-bottom-left-radius: 0;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-content {
  border-bottom-right-radius: 0;
}