@use "settings";

.react-modal {
  position: absolute;
  inset: 5vh auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.9);
  padding: settings.$s-size;
  border: 5px solid rgba(255,255,255,0.5);
  border-radius: 2rem;
  line-height: 1.1;
  z-index: 1000;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: settings.$desktop-breakpoint) and (min-width: settings.$modal-breakpoint) {
    width: 80%;
    left: 10%;
    transform: translateX(0);
    min-width: 320px;
    inset: 5vh 10% auto;
  }
  @media only screen and (max-width: settings.$modal-breakpoint) {
    width: 100%;
    left: 0;
    transform: translateX(0);
    min-width: 320px;
    inset: 5vh 0 auto;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 0;
  }

  strike, del {
    color: settings.$red;
    text-decoration: none;
    font-weight: 700;
  }

  strong {
    color: settings.$green;
  }

  em {
    color: settings.$orange;
  }

  &:focus {
    outline: none;
  }

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  .confirm-popup,
  .confirm-popup-content {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
  }

}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 500;
}