@use "sass:meta";
@use "settings";

@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");

@include meta.load-css('base');

@include meta.load-css('main');
@include meta.load-css('buttons');
@include meta.load-css('header');
@include meta.load-css('footer');
@include meta.load-css('form');
@include meta.load-css('modal');
@import '~maplibre-gl/dist/maplibre-gl.css';
@import '~font-awesome/css/font-awesome.min.css';
@include meta.load-css('maplibre-gl-custom');
@include meta.load-css('collapsible');
@include meta.load-css('dashboard');
@include meta.load-css('leftMenu');
@include meta.load-css('widgets');
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-tabs/style/react-tabs.css';
@include meta.load-css('react-tabs');