@use "~chaire-lib-frontend/lib/styles/settings";

.table {
    border-spacing: 0;
    font-size: 1.6rem;

    .thead {
        overflow-y: auto;
        overflow-x: hidden;
        font-weight: 500;
    }

    .tbody {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tr {
        :last-child {
            .td {
                border-bottom: 0;
            }
        }
        border-bottom: 1px solid black;
    }

    .status_pending {
        background-color: settings.$button-grey;
        color: settings.$input-background;
        font-weight: 500;
    }

    .status_completed {
        background-color: settings.$button-green;
        color: settings.$input-background;
        font-weight: 500;
    }

    .status_inProgress {
        background-color: settings.$button-blue;
        color: settings.$input-background;
        font-weight: 500;
    }

    .status_failed {
        background-color: settings.$button-red;
        color: settings.$input-background;
        font-weight: 500;
    }

    .status_cancelled {
        background-color: settings.$button-grey;
        color: settings.$input-background;
        font-weight: 500;
    }

    .status_paused {
        background-color: settings.$button-grey;
        color: settings.$input-background;
        font-weight: 500;
    }

    .th,
    .td {
        margin: 0;
        padding: 0.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-right: 1px solid black;

        position: relative;

        :last-child {
            border-right: 0;
        }

    }
}

.expandable-messages__trigger {
    font-size: settings.$font-size-small;
    opacity: 0.5;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 0 0.2rem;
    margin: 0 0.3rem;
    background: none;
    display: inline-block;
    border: none;
    color: settings.$text-default-color;

    &:hover,
    &:active,
    &:focus {
        color: settings.$text-active-color;
    }
}

.expandable-messages__trigger:hover {
    text-decoration: underline;
}
